html {
    scroll-behavior: smooth;
}

body {  
    background-image: url("../assets/img/light_honeycomb.png");
    background-repeat: repeat;
    color: whitesmoke;
    font-family: 'Arbutus';
    font-size: 22px;
}

/* top navbar */
#navbar {
    background-color: #333;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

/* nav bar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
}

/* navbar links when hovering */
#navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* What's your plan for the night? and Let's go to a show and get some grub. */
.lead {
    font-family: Arial, Helvetica, sans-serif;
}

/* top image */
.parallax {
    /* The image used */
    background-image: url("../assets/img/handsbackground-cropped-1080x675.png");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: whitesmoke;
}

.jumbotron, h1 {
    text-align: right;
    margin-bottom: 20px;
}

.jumbotron, p {
    text-align: left;
    color: black;
}

label {
    color: whitesmoke;
}

#location {
    font-family: Arial, Helvetica, sans-serif;
}

.music {
    margin-left: 28%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.music h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.form-control {
    background-color: #333;
    color: whitesmoke;
}

/* check box font */
.col-md-2 {
    font-family: Arial, Helvetica, sans-serif;
}

h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#submitBTN {
    height: 205px;
    width: 205px;
    margin-left: 41%;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#submitBTN:hover {
    box-shadow: 5px, 5px, 5px, 0px;
    cursor: pointer;
}

#submitBTN:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.container {
    background-color: #333;
    background-image: url("../assets/img/dark-honeycomb.png");
    background-repeat: repeat;
}

/* concert and restaurant display cards */
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
}

/* concert and restaurant display cards */
.card-body {
    background-color: rgba(255, 255, 255, 0.37);
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* concert and restaurant display cards when hovering*/
.card-body:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.card-title {
    color: black;
    margin-bottom: 40px;
}

#card-food {
    margin: 10px;
}

/* zomato restaurant links*/
a.foodLink {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

/* concert links*/
a.conLink {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #333;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    bottom: 0;
    width: 100%;
    /* Full width */
    text-align: center;
    font-size: 16px;
}