body{
    background: rgb(230, 230, 230);
}

.jumbotron{
    background-image: url("../assets/img/newBackground.png");
    background-size: cover;
    background-repeat: no-repeat;     
}

.jumbotron,h1{
    text-align: right;
    margin-bottom: 20px;
}

.jumbotron,p{
    text-align: left;
    color: black;
}

.card{
    margin-right: 40px;
}