body{
    background: rgb(37, 12, 12);
    color: whitesmoke;
}

.jumbotron{
    /* background-image: url("../assets/img/newBackground.png");
    background-size: cover;
    background-repeat: no-repeat; */
}

.jumbotron,h1{
    text-align: right;
    margin-bottom: 20px;
}

.jumbotron,p{
    text-align: left;
    color: black;
}

label{
    color: whitesmoke;
}

.music{
    margin-left: 32%;
}

.form-control{
    background-color: rgb(41, 35, 35);
    color: whitesmoke;
    
}


h6{
text-align: center;

}

#submitBTN{
    height: 205px;
    width: 205px;
    margin-left: 41%;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#submitBTN:hover{
box-shadow: 5px,5px,5px,0px;
cursor: pointer;
}

#submitBTN:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.container{
    background-color:  rgb(41, 35, 35);
}
.card{
    margin-right:  10%;
   margin-left: 1%;
   color: #666;

}

.parallax {
    /* The image used */
    background-image: url("../assets/img/handsbackground-cropped-1080x675.png");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }