html {
    scroll-behavior: smooth;
}

body {
    background: rgb(37, 12, 12);
    color: whitesmoke;
}

#navbar {
    background-color: #333;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.jumbotron {
    /* background-image: url("../assets/img/newBackground.png");
    background-size: cover;
    background-repeat: no-repeat; */
}

.parallax {
    /* The image used */
    background-image: url("../assets/img/handsbackground-cropped-1080x675.png");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron, h1 {
    text-align: right;
    margin-bottom: 20px;
}

.jumbotron, p {
    text-align: left;
    color: black;
}

label {
    color: whitesmoke;
}

.music {
    margin-left: 32%;
}

.form-control {
    background-color: rgb(41, 35, 35);
    color: whitesmoke;
}

h6 {
    text-align: center;
}

#submitBTN {
    height: 205px;
    width: 205px;
    margin-left: 41%;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#submitBTN:hover {
    box-shadow: 5px, 5px, 5px, 0px;
    cursor: pointer;
}

#submitBTN:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.container {
    background-color: rgb(41, 35, 35);
}


/* concert and restaurant display cards*/
.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 20px;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.37);   
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.card-body:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.card-title {
    color: black;
    margin-bottom: 40px;
}

#card-food {
    margin: 10px;
}

footer {
    background-color: #333;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    bottom: 0;
    width: 100%;
    /* Full width */
    text-align: center;
}